body {
    background-color: rgb(141, 185, 190);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    position: fixed;
    display: flex;
    width: 80%;
    top: 8px;
    left: 8px;
    margin-left: 290px;
    margin-right: 180px;
    background-color: rgb(87, 113, 116);
    border-radius: 8px;
    padding-top: 16px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    
}

.header-img {
    width: 100px;
}

.header-text {
    text-align: center;
    padding-left: 410px;
}

.menu {
    position: absolute;
    display: flex;
    top: 8px;
    left: 8px;
    bottom: 0;
    background-color: rgb(87, 113, 116);
    width: 250px;
    border-radius: 8px;
    padding: 15px;
    justify-content: space-between;
}

.main-content {
    justify-content: space-between;
    text-align: center;
    padding-top: 16px;
    margin-top: 185px;
    margin-left: 290px;
    border-radius: 8px;
    background-color: rgb(87, 113, 116);
}

.content-tabela {
    align-items: center;
    text-align: center;
    width: 400;
    border: solid 1px;
    margin-left: 400px;
}

.thead {
    padding: 6px;
    background-color: rgb(43, 52, 58);
}


tbody tr:nth-child(even) td {
    background-color: rgb(83, 94, 98);
}

.content-text {
    padding: 10px 14px 14px 14px;
}

.content-title {
    text-align: center;
}

.footer {
    background-color: rgb(87, 113, 116);
    margin-left: 290px;
    border-radius: 8px;
    padding: 15px 40px;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 10px;
    height: 300px;
}

.contact  {
    text-align: right;
    margin-right: 0;
}



